#app {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 400 !important;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: var(--background-image, url('../../background/monterey.webp'));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}