/*-------------------------------------------*\
    Windows/Display
\*-------------------------------------------*/
.window-style {
    border-radius: 15px;
    background: #F3F2F2;
    overflow: hidden;
    border: 1px solid #dadada;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
    /* transition: all 0.5s ease; */
    max-height: 100%;
    max-width: 100%;
    align-items: flex-end;
}

/*-------------------------------------------*\
    Buttons
\*-------------------------------------------*/
.close-button {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--red-border);
    background: var(--red);
    position: relative;
}

.close-button::before,
.close-button::after {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 8px;
    height: 1px;
}

.close-button::before {
    transform: rotate(45deg);
}

.close-button::after {
    transform: rotate(-45deg);
}

.minimize-button {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--yellow-border);
    background: var(--yellow);
    position: relative;
}

.minimize-button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 8px;
    height: 2px;
}

.expand-button {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--green-border);
    background: var(--green);
    position: relative;
}

.expand-button::before,
.expand-button::after {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
}

.expand-button::before {
    width: 6px;
    height: 6px;
}

.expand-button::after {
    width: 10px;
    height: 2px;
    transform: rotate(-45deg);
}

.grey-button {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5px;
    border-color: #b6bcbb;
    background: #c6c6c6;
    position: relative;
}

.triple-button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 50px;
    justify-content: space-between;
}

.triple-button:hover .close-button::before,
.triple-button:hover .close-button::after {
    visibility: visible;
    background-color: var(--red-icon);
}

.triple-button:hover .minimize-button::before {
    visibility: visible;
    background-color: var(--yellow-icon);
}

.triple-button:hover .expand-button::before {
    visibility: visible;
    background-color: var(--green-icon);
}

.triple-button:hover .expand-button::after {
    visibility: visible;
    background-color: var(--green);
}

/*-------------------------------------------*\
    Top Bar
\*-------------------------------------------*/

.top-bar {
    display: flex;
    height: auto;
    width: 100%;
    background: #ECECED;
    z-index: 10;
    border-bottom: #dadada 1px solid;
}

.top-bar.no-border {
    background: transparent;
    border-bottom: none;
}

.top-bar:hover {
    cursor: default;
}

.window-name {
    display: none;
}

/*-------------------------------------------*\
    CSS Normalisation
\*-------------------------------------------*/

button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    outline: inherit;
}

p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

:root {
    --red: #ff5f57;
    --red-border: #de4038;
    --red-icon: #7e0707;
    --yellow: #febc2d;
    --yellow-border: #de9c0d;
    --yellow-icon: #b3710b;
    --green: #2ac63f;
    --green-border: #10a820;
    --green-icon: #026200
}