/*-------------------------------------------*\
    Windows/Display
\*-------------------------------------------*/
.window-style {
    border-radius: 15px;
    background: #F3F2F2;
    overflow: hidden;
    border: 1px solid #dadada;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
    /* transition: all 0.5s ease; */
    max-height: 100%;
    max-width: 100%;
    align-items: flex-end;
}

/*-------------------------------------------*\
    Buttons
\*-------------------------------------------*/
.close-button {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #ff5f57;
    position: relative;
}

.minimize-button {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #febc2d;
    position: relative;
}

.expand-button {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #2ac63f;
    position: relative;
}

.grey-button {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #c6c6c6;
    position: relative;
}

.triple-button {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 15px;
    align-items: center;
    width: 50px;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.triple-button:hover .minimize-button::after {
    content: '-';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8px;
    font-weight: bold;
    color: #b3710b;
}

.triple-button:hover .expand-button::after {
    content: '+';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-weight: bold;
    color: #026200;
}

.triple-button:hover .close-button::after {
    content: '×';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-weight: bold;
    color: #990000;
}

.button:hover {
    cursor: pointer;
}

/*-------------------------------------------*\
    Top Bar
\*-------------------------------------------*/

.top-bar {
    display: flex;
    height: 40px;
    width: 100%;
    background: #ECECED;
    z-index: 10;
    border-bottom: #dadada 1px solid;
}

.top-bar.no-border {
    background: transparent;
    border-bottom: none;
}

.top-bar:hover {
    cursor: default;
}

.window-name {
    display: none;
}

/*-------------------------------------------*\
    CSS Normalisation
\*-------------------------------------------*/

button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    outline: inherit;
}

p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}